name: Publish NuGet Package

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'main'
        type: string
      upload_to_nuget:
        description: 'Upload to NuGet (uncheck to only upload artifact)'
        required: true
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.inputs.branch }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Pack NuGet package
      run: dotnet pack --configuration Release --output ./.nuget --no-restore

    - name: List .nuget directory contents
      run: ls -l ${{ github.workspace }}/.nuget

    - name: Upload NuGet package as artifact
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: '**/*.nupkg'

    - name: Publish NuGet package
      if: ${{ github.event.inputs.upload_to_nuget == 'true' }}
      # if: github.event.pull_request.merged == true || github.ref == 'refs/heads/main'
      run: dotnet nuget push ./.nuget/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
